img {
    height: 3rem;
    margin: 0.5rem;
}

.logoContainer {
    display: flex;
    align-items: center;
    justify-self: flex-start;
}

/* link styles */
#linksContainer {
    justify-self: center;
    display: flex;
    gap: 1rem;
}

a {
    text-decoration: none;
    color: white;

}

a:hover {
    color: #f8cf2c;
}


.MuiToolbar-dense, .MuiAppBar-positionStatic {
    justify-content: space-between;
    background-image: linear-gradient(to right, black , grey);
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
}